body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 200px;
}

header {
    background-color: #2471A3;
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    margin-top: 100px;
}

#logo {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    max-width: 60vw;
}

#language {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    max-width: 35vw;
}

footer {
    background-color: #2471A3;
    height: 100px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.breadcrumbs {
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 120px;
}

ul li a,
ul li a:visited {
    text-decoration: none;
    color: black;
    display: block;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    border: 2px black solid;
    width: 90vw;
    max-width: 360px;
    height: 100px;
    border-radius: 25px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 1px black;
    font-size: 32px;
    font-weight: 700;
    color: black;
    text-align: center;
    line-height: 100px;
    height: 100px;
}

.logout {
    background-color: #C10000;
}

li:hover {
    background-color: #2471A3;
    color: white;
}

ul li a:hover {
    color: inherit;
}

iconify-icon {
    vertical-align: middle;
    padding: 0 20px 0 0;
}

.smallertext {
    font-size: 24px;
}

.smallesttext {
    font-size: 24px;
    line-height: normal;
    height: 100px;
    margin-top: 10px;
}

.logout:hover {
    background-color: black;
    color: #C10000;
}

#logout {
    color: white;
}

footer a {
    color: white;
}

/* Boka resa-sidan*/

h1 {
    padding-left: 25px;
}

.thickline {
    border: 3px solid #2471A3;
    margin: 0 10%;
    border-radius: 7px 7px 7px 7px;
}

.thinline {
    margin: 0 10%;
}

h2 {
    color: #636262;
    margin-left: 10%;
    font-size: 24px;
}

.choice {
    color: black;
    float: right;
    margin-right: 10%;
}

#accept {
    display: inline-block;
    border: 2px solid black;
    background-color: #8EEE7E;
    border-radius: 25px;
    box-shadow: 1px 1px 1px black;
    width: 40vw;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin: auto;
    margin-left: 5%;
    margin-top: 50px;
    
}

#abort {
    display: inline-block;
    border: 2px solid black;
    background-color: #C10000;
    border-radius: 25px;
    color: white;
    box-shadow: 1px 1px 1px black;
    width: 40vw;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin: auto;
    margin-right: 5%;
}

.form a {
    text-decoration: none;
}

/* Time input styling */

#time-input {
    display: block;
    margin: 10% auto;
    height: 150px;
    width: 500px;
    max-width: 90vw;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#returnTripLabel {
    display: inline-block;
    width: 700 px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}


